<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>PlexPy</string>
    <key>CFBundleIcondFile</key>
    <string>PlexPy</key>
    <key>CFBundleIdentifier</key>
    <string>com.JonnyWong16.plexpy</string>
    <key>CFBundleName</key>
    <string>PlexPy</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>MacOSX</string>
    </array>
</dict>
</plist>
